.pantalla {
    background: #E5E5E5;
    display: flex;
    align-items: center;
    height: 96vh;
    width: 100vw;

    font-family: 'Roboto', sans-serif;
}
  

.logo {
    height: 10%;
    width: 100%;

    display: flex;
    align-items: center;

    outline: red dashed 1px;   
}

.logo img {
    height: 60%;
    width: auto;
    float: left;
}

.cuadroTexto {
    height: 83%;
    width: 100%;  
    outline: red dashed 1px;  
}

.texto {
    margin-left: auto;
    height: 100%;
    width: 75%;  

    text-align: center;

    outline: red dashed 1px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.textoEncriptar {
    background: #E5E5E5;
    border: none;
    resize: none;
    
    color: #0A3871;
    font-size: 150%;
    height: 90%;
    width: 85%;

    margin: 1% 0 0 0; /*top right bottom left */

    outline: red dashed 1px;
}

textarea::placeholder {
    color: #0A3871;
}

.instruccion {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    height: 5%;
    width: 85%;

    margin: 1% 0 0 0; /*top right bottom left */

    outline: red dashed 1px;
}

.instruccion h4 {
    font-size: 70%;
}

h4 img{
    margin: 0px 5px 0px 5px; /*top right bottom left */
}

.botones {
    height: 8%;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.botonEncriptar {
    height: 80%;
    width: 30%;

    margin: 1%; /*top right bottom left */

    background: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;

    font-size: 85%;
    color: white;
    cursor: pointer;
}

.botonDesencriptar {
    height: 80%;
    width: 30%;

    margin: 1%; /*top right bottom left */
    
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;

    font-size: 85%;
    color: #0A3871;
    cursor: pointer;
}

.botonEncriptar:hover, .botonDesencriptar:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 30px -9px #0A3871;
}

.textoEncriptado {
    height: 100%;
    width: 50%;
    text-align: center;
    outline: red dashed 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.caja {
    background: #FFFFFF;
    height: 90%;
    width: 80%;

    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;

    text-align: center;

    outline: red dashed 1px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.munheco {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 45%;
    width: 90%;

    outline: red dashed 1px;
}

.munheco img {
    width: 85%;
    height: auto;

    outline: red dashed 1px;
}


.caja h2 {
    color: #343A40;
    font-weight: bold;
    font-size: 130%;
    margin: 5px 10% 0 10%; /*top right bottom left */
}

.caja h3 {
    color: #495057;
    font-size: 75%;
    margin: 3% 10% 0 10%; /*top right bottom left */
}

footer {
    height: 4vh;
    width: 100vw;
    background: #E5E5E5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

footer h2 {
    color: #65747D;
    font-size: 80%;
    margin: 0 4px 0 4px; /*top right bottom left */
}

footer img:hover {
    transform: scale(1.1);
}

/* Media query para ajustar el tamaño del cuadro en diferentes tamaños de pantalla */
@media screen and (max-width: 900px) {
    .pantalla {
        height: 96vh;
        width: 100vw;

        flex-direction: column;
    }
    
    .texto {
        height: 55%;
        width: 100%;
        
    }

    .logo {
        height: 10%;
    }

    .logo img {
        width: 60%;
        height: auto;
    }

    .cuadroTexto {
        height: 80%;
    }

    .textoEncriptar {
        height: 82%;
        width: 90%;
        margin: 1% 0 1% 0;
    }

    .instruccion {
        height: 8%;
        width: 90%;
        margin: 0;
    }

    .botones {
        height: 10%;
    }

    .botonEncriptar {
        margin: 0 0.5% 0 0; /*top right bottom left */
    }

    .botonDesencriptar {
        margin: 0 0 0 0.5%; /*top right bottom left */
    }

    .textoEncriptado {
        height: 45%;
        width: 100%;
    }

    .caja {
        height: 90%;
        width: 90%;
        border-radius: 20px;
    }
    
    .munheco {
        height: 65%;
        width: 80%;
    }

    .munheco img {
        height: 95%;
        width: auto;
    }

    .caja h3 {
        color: #495057;
        font-size: 75%;
        margin: 1% 10% 0 10%; /*top right bottom left */
    }
}

/* Media query para ajustar el tamaño del cuadro en diferentes tamaños de pantalla */
@media screen and (max-width: 400px) {
    .logo img {
        width: 45%;
        height: auto;
    }

    .botones {
        margin: 2% 1% 2% 1%; /*top right bottom left */
    }

    .botonEncriptar {
        height: 90%;
        width: 45%;
    }

    .botonDesencriptar {
        height: 90%;
        width: 45%;
    }

    footer h2 {
        font-size: 75%;
    }

}