.pantalla {
    background: #E5E5E5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

    font-family: 'Roboto', sans-serif;
}
  

.logo {
    position: absolute;
    height: 10vh;
    width: 10vw;
    top: 2vh;
    left: 2vh;

    outline: red dashed 1px;
    
}

.logo img {
    width: 100%;
    height: auto;
}

.texto {
    margin-left: auto;
    height: 75vh;
    width: 58vw;
    margin-right: 5vh;    

    text-align: center;

    outline: red dashed 1px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.textoEncriptar {
    background: #E5E5E5;
    border: none;
    resize: none;
    
    color: #FFFFFF;
    font-size: 3.2vh;
    height: 70vh;
    width: 55vw;

    outline: red dashed 1px;
}

.caja {
    background: #FFFFFF;
    margin-left: auto;
    height: 90vh;
    width: 30vw;
    margin-right: 5vh;    

    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;

    text-align: center;

    outline: red dashed 1px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Media query para ajustar el tamaño del cuadro en diferentes tamaños de pantalla */
@media screen and (max-width: 1100px) {
    .pantalla {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    
    .texto {
        margin-left: auto;
        height: 40vh;
        width: 100vw;
        margin: 15% 0% 0% 0%; /*top right bottom left */

        text-align: center;

        outline: red dashed 1px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }

    .textoEncriptar {
        height: 35vh;
        width: 90vw;
    }

    .caja {
        margin-left: auto;
        height: 40vh;
        width: 90vw;  
        margin: 0% 1% 0 1%; /*top right bottom left */

        text-align: center;

        outline: red dashed 1px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .caja h3 {
        color: #495057;
        font-size: 75%;
        margin: 3% 10% 0 10%; /*top right bottom left */
    }
}

.munheco {
    display: flex;
    justify-content: center;
    align-items: center;
}

.munheco img {
    max-width: 95%;
    max-height: 95%;
}


.caja h2 {
    color: #343A40;
    font-weight: bold;
    font-size: 130%;
    margin: 0% 10% 0 10%; /*top right bottom left */
}

.caja h3 {
    color: #495057;
    font-size: 75%;
    margin: 3% 10% 0 10%; /*top right bottom left */
}
